@keyframes ldio-gfoot9u2mz {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-gfoot9u2mz div {
    box-sizing: border-box !important;  
    
}

.ldio-gfoot9u2mz>div {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 14px;
    left: 14px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #93dbe9 transparent #93dbe9 transparent;
    animation: ldio-gfoot9u2mz 1s linear infinite;
}

.ldio-gfoot9u2mz>div:nth-child(2),
.ldio-gfoot9u2mz>div:nth-child(4) {
    width: 54px;
    height: 54px;
    top: 23px;
    left: 23px;
    animation: ldio-gfoot9u2mz 1s linear infinite reverse;
}

.ldio-gfoot9u2mz>div:nth-child(2) {
    border-color: transparent #689cc5 transparent #689cc5
}

.ldio-gfoot9u2mz>div:nth-child(3) {
    border-color: transparent
}

.ldio-gfoot9u2mz>div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-gfoot9u2mz>div:nth-child(3) div:before,
.ldio-gfoot9u2mz>div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #93dbe9;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #93dbe9;
}

.ldio-gfoot9u2mz>div:nth-child(3) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #93dbe9;
}

.ldio-gfoot9u2mz>div:nth-child(4) {
    border-color: transparent;
}

.ldio-gfoot9u2mz>div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-gfoot9u2mz>div:nth-child(4) div:before,
.ldio-gfoot9u2mz>div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 30px;
    background: #689cc5;
    border-radius: 50%;
    box-shadow: 0 92px 0 0 #689cc5;
}

.ldio-gfoot9u2mz>div:nth-child(4) div:after {
    left: -16px;
    top: 30px;
    box-shadow: 92px 0 0 0 #689cc5;
}

.loadingio-spinner-double-ring-yxqz2f2f85 {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background:transparent;
    margin: 0 auto;
}

.ldio-gfoot9u2mz {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-gfoot9u2mz div {
    box-sizing: content-box;
}